.form-group {
	margin-bottom: 1.5rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 56px;
  line-height: 60px;
  padding: 15px 1.25rem 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  color: #25364f;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: 2rem;
  -webkit-transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1em + 2.5rem + 2px);
  padding: 1.25rem 2.25rem 1.25rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  color: #25364f;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1.25rem center/8px 10px;
  border: 1px solid transparent;
  border-radius: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
}

.position-relative label {
  position: absolute;
  font-size: 1rem;
  top: 15px;
  left: 1.25rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
	
	&.actif {
	  top: 5px;
	  font-size: 0.875rem;
	}
	
}

.form-control.is-valid, .was-validated .form-control:valid {
  border-color: #42bc99;
  padding-right: calc(1em + 2.5rem);
  background-image: url("valid.svg");
  background-repeat: no-repeat;
  background-position: right calc(0.25em + 0.625rem) center;
  background-size: calc(0.5em + 1.25rem) calc(0.5em + 1.25rem);
}
.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1em + 2.5rem);
  background-image: url("invalid.svg");
  background-repeat: no-repeat;
  background-position: right calc(0.25em + 0.625rem) center;
  background-size: calc(0.5em + 1.25rem) calc(0.5em + 1.25rem);
}

.custom-select.is-valid, .was-validated .custom-select:valid {
  border-color: #42bc99;
  padding-right: calc(0.75em + 4.125rem);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1.25rem center/8px 10px,url("valid.svg") #fff no-repeat center right 2.25rem/calc(0.5em + 1.25rem) calc(0.5em + 1.25rem);
}
.custom-select.is-invalid, .was-validated .custom-select:invalid {
  border-color: #dc3545;
  padding-right: calc(0.75em + 4.125rem);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1.25rem center/8px 10px,url("invalid.svg") #fff no-repeat center right 2.25rem/calc(0.5em + 1.25rem) calc(0.5em + 1.25rem);
}

/* CONTACT */

#contact_1 {
	background-color: #A2F2F8;
	padding-top: 160px;
	padding-bottom: 80px;
	
	.chouette {
		top: 275px;
		left: 0;
	}
	
	.avion {
		top: 772px;
		right: 283px;
		animation: rotate 10s infinite linear;
	}
	
	.oiseau {
		top: -60px;
		right: -70px;
	}
	
	.nuage1 {
		top: 186px;
		right: 142px;
		animation: move 4s 0s ease-in-out infinite alternate forwards;
	}
	.nuage2 {
		top: 689px;
		left: -20px;
		animation: moveinv 4s 0s ease-in-out infinite alternate forwards;
	}
	.nuage3 {
		top: 713px;
		right: 186px;
	}
}

textarea.form-control {
	height: 298px;
}